body{
    background: seagreen;
}
h2{
    color: #ff0051;
    text-align: center;
}
p{
    color: seagreen;
    text-align: center;
}
li{
    color: red;
    text-align: center;
}
td{
    color: #ff0051;
    text-align: center;
}