body{
    background: seagreen;
}
form{
    background: aliceblue;
    border: #8800ff;
}
h2{
    background: black;
    color: #ff0051;
    text-align: center;
}
p{
    color: seagreen;
    text-align: center;
}
li{
    color: red;
    text-align: center;
}
td{
    color: #ff0051;
    text-align: center;
}
input{
    color: blue;
    text-align: left;
}